<div class="row">
  <div class="col s6 offset-s3">
    <div class="collection">
      <% @videos.each do |video| %>
        <!-- need to add views on the right of the box below -->
        <a href="/videos/<%= video['id'] %>" class="collection-item left-align"><%= video['title']  %><%= video['views']  %></a> 
      <% end %>
    </div>
  </div>
</div>